<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'login:cadastro' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="username" required><br>
        <input type="email" name="email" id="email" placeholder="email" required><br>
        <input type="password" name="password" id="password" placeholder="password" required><br>
        <input type="submit" value="cadastrar">
    </form>
    <a href="{% url 'login:login' %}">Logar</a>

    <script>
        var it = "{{ it }}";
        if (it == "True"){
            alert("Usuario já existe")
        }
    </script>       
</body>
</html>